.prompt-label {
	-fx-text-fill: rgb(137,137,137);
}
.x-clear-button {
	-fx-font-size: 7pt;
	-fx-border-radius: 9;
	-fx-background-radius: 9;
	-fx-opacity: 0.3;
}
.x-clear-button:hover {
	-fx-opacity: 1;
	-fx-font-weight: bold;
}
.next-button SVGPath {
	-fx-stroke: black;
}
.next-button:hover SVGPath {
	-fx-fill: yellowgreen;
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}
